# Generated
tools/generated_export_figma_layout.dart
tools/crawler_source.dart
figma_plugin/code.js

# Extracted JSON
*.json
!figma_plugin/manifest.json

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Dart
.dart_tool/
.packages
pubspec.lock
build/
